#backgroundDIV {
		  background-color: #12563d;
		  color: white;
/*		  margin: 10px;
*/		  padding: 15px;
		  font-family: 'Roboto', sans-serif;
		  width: 100%;
/*		  border-radius: 10px;
*/		}

.jumbotron {
		color: black;
	}
.mybutton{
		color: black;
	}		

#infoWindow{
		color: black;
		height: 250px;
	}

#imgWindow{
		color: black;
		height: 320px;
	}

#PovertyButton{
		font-size: 9px;
	}

#IncomeButton{
		font-size: 9px;
	}

#UnemploymentButton{
		font-size: 9px;
	}

.Pic {
    display : none; 
    height: 245px;   
}


#BOAmap {
	   	width: 100%;
	   	height: 590px;
   		color: black;
   		background-color: gray;
   		border-radius: 10px;}		

#NPCRLogo {
		 height: 22px;
		}   

footer {
  padding: 20px;
  padding-left: 30px;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: #cccccc;
}

